    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('imagens/20723325-fechar-acima-do-uma-futebol-atacante-pronto-para-chutes-a-bola-dentro-a-futebol-objetivo-foto.jpg');
      background-size: cover;
      background-position: center;
      color: white;
    }

    .menu-btn {
      position: fixed;
      top: 40px;
      left: 30px;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
      background: #000;
      padding: 20px;
      border-radius: 50%;
      box-shadow: 0px 4px 8px rgba(189, 189, 189, 0.3), 0px 4px 10px rgba(75, 75, 75, 0.3);
      z-index: 3500;
    }

    .menu-btn:hover {
      transform: scale(1.1) translate(3px, 3px);
      box-shadow: 0px 6px 12px rgba(255, 255, 0, 0.5), 0px 6px 15px rgba(0, 0, 0, 0.5);
    }

    .menu {
      position: fixed;
      top: 0;
      left: -330px;
      width: 330px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      transition: left 0.3s ease;
      overflow: hidden;
      z-index: 2000;
    }

    .menu ul {
      list-style: none;
      padding: 0;
      margin: 80px 0 0 0;
    }

    .menu ul li {
      margin-bottom: 20px;
      padding-left: 20px;
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 0.5s ease, transform 0.5s ease;
      position: relative;
    }

    .menu ul li.show {
      opacity: 1;
      transform: translateX(0);
    }

    .menu ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 22px;
      display: flex;
      align-items: center;
      padding: 15px 30px;
      transition: background-color 0.3s ease, font-size 0.3s ease;
      position: relative;
    }

    .menu ul li a i {
      margin-right: 15px;
    }

    .menu ul li a:hover {
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 18px;
    }

    .menu ul li a::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    .menu ul li a:hover::after {
      transform: scaleX(1);
    }

    .menu ul li.logout {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 40px);
    }

    .menu ul li.logout a {
      color: #ff0000;
    }

    .title {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      margin-top: 40px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    }

    .select-container {
      margin: 20px auto;
      width: 90%;
      max-width: 500px;
      text-align: center;
      position: relative;
      left: 20%;
      top: 20px;
    }

    .select-container select {
      font-size: 18px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: 1px solid #fff;
      border-radius: 5px;
      width: 200px;
    }

    .table-container {
      margin: 50px auto;
      width: 90%;
      max-width: 1200px;
      background: rgba(0, 0, 0, 0.7);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    }

    .table-container h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 28px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }

    .classification-table {
      width: 100%;
      border-collapse: collapse;
      color: white;
    }

    .classification-table th,
    .classification-table td {
      padding: 15px;
      text-align: center;
    }

    .classification-table th {
      background: rgba(0, 0, 0, 0.8);
      font-size: 18px;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    }

    .classification-table tbody tr {
      transition: background-color 0.3s;
    }

    .classification-table tbody tr:nth-child(odd) {
      background: rgba(255, 255, 255, 0.1);
    }

    .classification-table tbody tr:nth-child(even) {
      background: rgba(255, 255, 255, 0.15);
    }

    .classification-table tbody tr:hover {
      background: rgba(255, 255, 255, 0.25);
    }

    .classification-table td {
      font-size: 16px;
    }

    .team-name {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
    }

    .team-logo {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    .medal {
      font-size: 20px;
      margin-left: 10px;
    }

    .medal.gold {
      color: #FFD700;
    }

    .medal.silver {
      color: #C0C0C0;
    }

    .medal.bronze {
      color: #CD7F32;
    }

    .position-number {
      margin-right: 10px;
    }